%form.form-horizontal{action: '/admin/login', method: 'POST'}
  .control-group
    %label.control-label{for: 'admid'} Admin ID
    .controls
      %input#admid{type: 'text', name: 'name', required: true}
  .control-group
    %label.control-label{for: 'admpass'} Password
    .controls
      %input#admpass{type: 'password', name: 'password', required: true}
  .form-actions
    %button{type: 'submit'} Login
