%form.form-horizontal{action: "/admin/player/adjust_point/#{@player.id}", method: 'POST'}
  %input#nonce{type: 'hidden', name: 'nonce', value: @nonce}
  .control-group
    %label.control-label{for: 'value'} Value
    .controls
      %input#value{type: 'number', name: 'value', required: true}
  .control-group
    %label.control-label{for: 'event'} Event
    .controls
      %input#event{type: 'input', name: 'event', required: true}
  .control-group
    %label.control-label{for: 'reason'} Reason
    .controls
      %textarea#reason{name: 'reason', cols: 40, rows: 4, placeholder: 'Why this adjustment is applied?'}
  .form-actions
    %button.btn.btn-primary{type: 'submit'} Apply
    %button.btn{type: 'reset'} Clear
