%table.table
  %thead
    %tr
      %th ID
      %th Title
      %th Leading
      %th Announced At
      %th
      %th
  %tbody
    - Announcement.each do |announce|
      %tr
        %td= announce.id
        %td= announce.title
        %td= announce.leading
        %td= announce.created_at
        %td
          %a.btn.btn-small{href: "/admin/announce/#{announce.id}"} Detail
        %td
          %a.btn.btn-small{href: "/admin/announce/update/#{announce.id}"} Edit
