:javascript
  $(document).ready(function() {
    $('#delete').click(function() {
      bootbox.confirm("You are now going to delete '#{@challenge.name}'. You CANNOT undo this operation. Are you sure?", function(result) {
        if (result) {
          window.location = "/admin/challenge/delete/#{@challenge.id}";
        }
      });
    });
  });

%section
  %h2 Basics
  %dl.dl-horizontal
    %dt ID
    %dd= @challenge.id
    %dt Name
    %dd= @challenge.name
    %dt Flag
    %dd= @challenge.flag
    %dt Point
    %dd= @challenge.point

%section
  %h2 Description
  %p.well= @challenge.description

%section
  %h2 Attachment Files
  - if @challenge.attachments.empty?
    %p N/A
  - else
    %ul
      - @challenge.attachments.each do |attach|
        %li= attach.name

%section
  %h2 Actions
  %p
    %a.btn{href: "/admin/challenge/edit/#{@challenge.id}"} Edit
    %a.btn.btn-danger#delete Delete
