%p== #{@player.name}'s point has been adjusted. #{@player.name} has #{@player.score} points now.
%ul
  %li
    %a{href: "/admin/player/#{@player.id}"}== Go to #{@player.name}'s individual page
  %li
    %a{href: '/admin/player/list'} Go to the list of players
