%form.form-horizontal{action: '/admin/player/create', method: 'POST'}
  .control-group
    %label.control-label{for: 'name'} User Name
    .controls
      %input#name{type: 'text', name: 'name', required: true}
  .control-group
    %label.control-label{for: 'pass'} Password
    .controls
      %input#pass{type: 'password', name: 'password', required: true}
  .control-group
    %label.control-label{for: 'team'}
      Team Name
    .controls
      %select#team{name: 'team_name', required: true}
        - Team.each do |team|
          %option= team.name
  .form-actions
    %button{type: 'submit'} Create
    %button{type: 'reset'} Clear
