%h2 What will be happen?
%p Suspending a player means the player cannot submit any flags, so he/she cannot get any points.
%p You can set the timer. The player is resumed automatically after the time is past. If you decided not to set the resuming time, the player will be suspended until you perform resuming operation from the administration site. (Default is after 15 minutes.)

%form.form-horizontal{action: "/admin/player/suspend/#{@player.id}", method: 'POST'}
  .control-group
    %label.control-label{for: 'time'} Suspend until
    .controls
      %input{type: 'datetime', name: 'time', value: (Time.now.utc + (60 * 15)).iso8601}
  .form-actions
    %button.btn{type: 'submit'} Suspend
    %button.btn{type: 'reset'} Clear
