:javascript
  $(document).ready(function() {
    $('#delete').click(function() {
      bootbox.confirm('You are going to delete this announcement. No one can recover it. Continue?', function(result) {
        if (result) {
          $.post("/admin/announce/delete/#{@announce.id}", function(data) {
            if (data['result'] == 'success') {
              bootbox.alert('Successfully deleted.', function() {
                window.location = '/admin/announce/list';
              });
            } else {
              bootbox.alert('Oops, failed. ' + data['reason']);
            }
          });
        }
      });
    });
  });

%p
  %a{href: '/admin/announce/list'} Go back to the list

%p== Announced at #{@announce.created_at}

%section
  %h2 Leading
  %p= @announce.leading

%section
  %h2 Content
  %p= @announce.content

%section
  %h2 Operations

  .row-fluid
    %section.span6
      %h3 Delete
      %p
        Delete this announcement. Burn it?
        %br
        %a.btn.btn-danger#delete Delete
    %section.span6
      %h3 Update
      %p
        Update this announcement.
        %br
        %a.btn#update{href: "/admin/announce/update/#{@announce.id}"} Update
