:javascript
  $(document).ready(function() {
    $('#delete').click(function() {
      bootbox.confirm("You are now going to delete this player. You CANNOT undo this operation. Are you sure?", function(result) {
        if (result) {
          $.post("/admin/player/delete/#{@player.id}", function(data) {
            if (data['result'] == 'success') {
              bootbox.alert('successfully deleted.', function() {
                window.location = '/admin/player/list';
              });
            } else {
              bootbox.alert('Something went wrong.... Failed because: ' + data['reason']);
            }
          });
        }
      });
    });
    $('#resume').click(function() {
      bootbox.confirm('You are going to resuming this player. OK?', function(result) {
        if (result) {
          $.post("/admin/player/resume/#{@player.id}", function(data) {
            if (data['result'] == 'success') {
              bootbox.alert('OK, this player is resumed now.', function() {
                location.reload();
              });
            } else {
              bootbox.alert('Something wrong is happen: ' + data['reason']);
            }
          });
        }
      });
    });
  });

%p
  %a{href: '/admin/player/list'} Go back to the list

%section
  %h2 Basics
  %dl.dl-horizontal
    %dt ID
    %dd= @player.id
    %dt Name
    %dd= @player.name
    %dt Team
    %dd
      %a{href: "/admin/team/#{@player.team.id}"}= @player.team.name
    %dt Score
    %dd= @player.score
    %dt Status
    %dd
      - if @player.is_suspended
        .label.label-inverse Suspended
      - else
        .label.label-success Good


%section
  %h2 Recent Trials
  %table.table
    %thead
      %tr
        %th # Challenge
        %th Challenge Name
        %th Submit Flag
        %th Accepted?
    %tbody
      - @player.trials_dataset.order(Sequel.desc(:submitted_at)).limit(10).each do |trial|
        %tr
          %td= trial.challenge.id
          %td= trial.challenge.name
          %td= trial.submitted_flag
          %td
            - if trial.is_accepted
              %i.icon-ok
            - else
              %i.icon-remove

%section
  %h2 Operations
  .row-fluid
    %section.span3
      %h3 Delete
      %p
        Delete this player. All the data was reduced to ashes!
        %br
        %a.btn.btn-danger#delete Delete
    %section.span3
      - if @player.is_suspended
        %h3 Resume
        %p
          Resume this player. This player can send flags and get points.
          %br
          == Suspended until #{@player.suspended_until}
          %a.btn#resume Resume
      - else
        %h3 Suspend
        %p
          Suspend this team. He or she can't submit flags and get points.
          %br
          %a.btn#suspend{href: "/admin/player/suspend/#{@player.id}"} Suspend
    %section.span3
      %h3 Point Adjustment
      %p
        Give him/her some bonus or penalty.
        %br
        %a.btn{href: "/admin/player/adjust_point/#{@player.id}"} Adjust Point
    %section.span3
      %h3 Mark As Solved
      %p
        Mark him/her as solved the problem.
        %br
        %a.btn{href: "/admin/player/treat_as/#{@player.id}"} Mark Solved
