%ul
  %li
    %a{href: "/admin/announce/#{@announce.id}"} Go back to the individual page
  %li
    %a{href: '/admin/announce/list'} Go back to the list

%form.form-horizontal{action: "/admin/announce/update/#{@announce.id}", method: 'POST'}
  .control-group
    %label.control-label{for: 'title'} Title
    .controls
      %input#title{type: 'text', name: 'title', required: true, value: @announce.title}
  .control-group
    %label.control-label{for: 'content'} Content
    .controls
      %textarea.input-xlarge#content{name: 'content', cols: 60, rows: 6, required: true}= @announce.content
  .control-group
    %label.control-label{for: 'leading'} Leading
    .controls
      %input.input-xxlarge#leading{type: 'text', name: 'leading', value: @announce.leading}
      .help-inline If you leave this empty, leading text will be auto-generated.
  .form-actions
    %button.btn.btn-primary{type: 'submit'} Update
    %button.btn{type: 'reset'} Clear
