%p== #{@challenge.name} is updated.
%p
  %a{href: "/admin/challenge/#{@challenge.id}"} Return to this challenge
%dl.dl-horizontal
  %dt Name
  %dd= @challenge.name
  %dt Flag
  %dd= @challenge.flag
  %dt Genre
  %dd= @challenge.genre
  %dt Point
  %dd= @challenge.point
  %dt Description
  %dd= @challenge.description
  %dt Attachments
  %dd
    %ul
      - @challenge.attachments.each do |attach|
        %li= attach.name
