%form.form-horizontal{action: '/admin/challenge/create', method: 'POST', enctype: 'multipart/form-data'}
  .control-group
    %label.control-label{for: 'name'} Name
    .controls
      %input#name{type: 'text', name: 'name', required: true}
  .control-group
    %label.control-label{for: 'flag'} Flag
    .controls
      %input#flag{type: 'text', name: 'flag', required: true}
  .control-group
    %label.control-label{for: 'genre'} Genre
    .controls
      %input#genre{type: 'text', name: 'genre', required: true}
  .control-group
    %label.control-label{for: 'point'} Point
    .controls
      %input#point{type: 'number', name: 'point', required: true}
  .control-group
    %label.control-label{for: 'desc'} Description
    .controls
      %textarea#desc{name: 'desc', cols: 80, rows: 6}
  .control-group
    %label.control-label{for: 'attach'} Attachment
    .controls
      %input#attach{type: 'file', name: 'attachments[]', multiple: true}
  .form-actions
    %button.btn.btn-primary{type: 'submit'} Create
    %button.btn{type: 'reset'} Clear
