%p== New Challenge #{@c.name} is created!
%ul
  %li
    %a{href: "/challenge/#{@c.id}"} Go to the individual page of the new challenge
  %li
    %a{href: '/admin/challenge/list'} Go to the list of challenges
