%script{src: rocketio_js}
%form.form-horizontal{action: "/admin/player/treat_as/#{@player.id}", method: 'POST'}
  .control-group
    %label.control-label{for: 'challenge'} Challenge
    .controls
      %select#challenge{name: 'challenge'}
        - Challenge.each do |challenge|
          %option{value: challenge.id}= challenge.name
  .control-group
    %label.control-label{for: 'flag'} Flag
    .controls
      %input#challenge{type: 'text', name: 'flag'}
  .form-actions
    %button.btn#submit{type: 'submit'} Adjust
    %button.btn{type: 'reset'} Clear
