%section
  %h2 Management

  %section.row-fluid
    %section.span3
      %h3 Challenges
      %ul
        %li
          %a{href: '/admin/challenge/create'} Add
        %li
          %a{href: '/admin/challenge/list'} List

    %section.span3
      %h3 Players
      %ul
        %li
          %a{href: '/admin/player/create'} Add
        %li
          %a{href: '/admin/player/list'} List

    %section.span3
      %h3 Teams
      %ul
        %li
          %a{href: '/admin/team/create'} Add
        %li
          %a{href: '/admin/team/list'} List

    %section.span3
      %h3 Announcements
      %ul
        %li
          %a{href: '/admin/announce/create'} Add
        %li
          %a{href: '/admin/announce/list'} List

%section
  %h2 Recent Trials
  %table.table
    %thead
      %tr
        %th Tried At
        %th Player Name
        %th # Challenge
        %th Challenge Name
        %th Submit Flag
        %th Accepted?
    %tbody
      - Trial.order(Sequel.desc(:submitted_at)).limit(AppSettings['num_recent_trials']).each do |trial|
        %tr
          %td= trial.submitted_at
          %td= trial.player.name
          %td= trial.challenge.id
          %td= trial.challenge.name
          %td&=trial.submitted_flag
          %td
            - if trial.is_accepted
              %i.icon-ok
            - else
              %i.icon-close
