%table.table
  %thead
    %tr
      %th
      %th User Name
      %th Team
      %th Score
  %tbody
    - Player.each do |player|
      %tr
        %td
          - if player.is_suspended
            %i.icon-exclamation-sign
        %td
          %a{href: "/admin/player/#{player.id}"}= player.name
        %td
          %a{href: "/admin/team/#{player.team.id}"}= player.team.name
        %td= player.score
