%h2 What will be happen?
%p Suspending a team means the all members of the team cannot submit any flags. Of course, it also means they cannot get points.
%p You can set the timer. The team is resumed automatically after the time is past. If you decided not to set the resuming time, the team will be suspended until you perform resuming operation from the administration site.

%form.form-horizontal{action: "/admin/team/suspend/#{@team.id}", method: 'POST'}
  .control-group
    %label.control-label{for: 'time'} Suspend until
    .controls
      %input{type: 'datetime', name: 'time', value: (Time.now.utc + (60 * 15)).iso8601}
  .form-actions
    %button.btn{type: 'submit'} Suspend
    %button.btn{type: 'reset'} Clear
