%p
  %a.btn{href: '/admin/team/create'} Add Team

- if Team.empty?
  %p There are no teams yet.
- else
  %table.table
    %thead
      %tr
        %th ID
        %th Name
        %th Score
    %tbody
      - Team.each do |team|
        %tr
          %td= team.id
          %td
            %a{href: "/admin/team/#{team.id}"}= team.name
          %td= team.score
