%form.form-horizontal{action: '/admin/team/create', method: 'POST'}
  .control-group
    %label.control-label{for: 'name'} Team Name
    .controls
      %input#name{type: 'text', name: 'name', required: true, pattern: '^[/\[\]a-zA-Z0-9_-]+$'}
      .help-inline Acceptable Characters: [\/\]\[a-zA-Z0-9_-]
  .form-actions
    %button.btn{type: 'submit'} Create
    %button.btn{type: 'reset'} Clear
