:javascript
  $(document).ready(function() {
    $('#delete').click(function() {
      bootbox.confirm("You are now going to delete this team. You CANNOT undo this operation. Are you sure?", function(result) {
        if (result) {
          $.post("/admin/team/delete/#{@team.id}", function(data) {
            if (data['result'] == 'success') {
              bootbox.alert('successfully deleted.', function() {
                window.location = '/admin/team/list';
              });
            } else {
              bootbox.alert('Something went wrong... ' + data['reason']);
            }
          });
        }
      });
    });
    $('#resume').click(function() {
      bootbox.confirm('You are going to resuming this team. OK?', function(result) {
        if (result) {
          $.post("/admin/team/resume/#{@team.id}", function(data) {
            if (data['result'] == 'success') {
              bootbox.alert('OK, this team is resumed now.', function() {
                location.reload();
              });
            } else {
              bootbox.alert('Something wrong is happen: ' + data['reason']);
            }
          });
        }
      });
    });
  });

%p
  %a{href: '/admin/team/list'} Go back to the list

%section
  %h2 Team Data
  %dl.dl-horizontal
    %dt ID
    %dd= @team.id
    %dt Name
    %dd= @team.name
    %dt Number of Members
    %dd= @team.players.size
    %dt Score
    %dd
      - unless @team.players.empty?
        = @team.score
      - else
        N/A
    %dt Status
    %dd
      - if @team.is_suspended
        .label.label-inverse Suspended
      - else
        .label.label-success Good

%section
  %h2 Members
  %table.table
    %thead
      %tr
        %th ID
        %th Name
        %th Score
        %th % Contribute
    %tbody
      - @team.players.each do |player|
        %tr
          %td= player.id
          %td
            %a{href: "/admin/player/#{player.id}"}= player.name
          %td= player.score
          %td= format("%.2f %%", (player.score.to_f / @team.score) * 100 )

%section
  %h2 Operations
  .row-fluid
    %section.span4
      %h3 Delete
      %p
        Delete this team. There is nothing after do this.
        %br
        %a.btn.btn-danger#delete Delete
    %section.span4
      - if @team.is_suspended
        %h3 Resume
        %p
          Resume this team. The team members can send flags and get points.
          %br
          == Suspended until #{@team.suspended_until}
          %a.btn#resume Resume
      - else
        %h3 Suspend
        %p
          Suspend this team. Anyone belongs to this team can't submit flags and get points.
          %br
          %a.btn#suspend{href: "/admin/team/suspend/#{@team.id}"} Suspend
    %section.span4
      %h3 Any other?
      %p Enjoy.
