%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Num.Trials
      %th Num.Accepts
      %th % Accepts
      %th Edit
  %tbody
    - @challenges.each do |challenge|
      %tr
        - trials = challenge.trials.size
        - accepts = challenge.trials.find_all {|t| t.is_accepted == true}.size
        %td= challenge.id
        %td
          %a{href: "/challenge/#{challenge.id}"}= challenge.name
        %td= trials
        %td= accepts
        %td= trials == 0 ? 'N/A' : format("%.2f %%", (accepts.to_f / trials) * 100)
        %td
          %a.btn.btn-small{href: "/admin/challenge/edit/#{challenge.id}"} Edit
