%table.table
  %thead
    %th ID
    %th Title
    %th Content
    %th Date&Time
  %tbody
    - Announcement.each do |announce|
      %tr
        %td= announce.id
        %td
          %a{href: "/announce/#{announce.id}"}=announce.title
        %td= announce.leading
        %td= announce.created_at
