%script{src: rocketio_js}
:javascript
  $(document).ready(function() {
    $('#current_status').hide();
    $('.submit').click(function() {
      flag = $('#flag_input').val();
      $.post("/challenge/#{@challenge.id}", {'flag': flag}, function(data) {
        $result = $('#result');
        if (data['result'] == 'accept') {
          $result.removeClass('alert-error')
                 .addClass('alert alert-success')
                 .text('Accepted!');
          $('#current_status').text('You got ' + data['gain'] + ' points, and now you have ' + data['current'] + ' points.').slideDown();
        } else if (data['result'] == 'wrong') {
          $result.removeClass('alert-success alert-error')
                 .addClass('alert')
                 .text('Wrong Answer!');
        } else if (data['result'] == 'error') {
          $result.removeClass('alert-success')
                 .addClass('alert alert-error')
                 .text('Error: ' + data['status']);
        } else {
          $result.removeClass('alert-success')
                 .addClass('alert alert-error')
                 .text('Unexpected Result (It may be bug of score server.)');
        }
      }, 'json');
      return false;
    });
    var io = new RocketIO().connect();
    io.on('solved', function(trial_str) {
      var trial = JSON.parse(trial_str);
      var $elem = $('<tr/>')
        .append($('<td/>').text(trial['player_name']))
        .append($('<td/>').text(trial['team_name']))
        .append($('<td/>').text(trial['submitted_at']))
        .hide();
      $no_solver = $('#no_solved_player')
      if ($no_solver) {
        $no_solver.fadeOut();
        $no_solver.remove();
      }
      $('#solved_players tbody').prepend($elem);
      $elem.slideDown();
    });
  });

%p== Opened at #{@challenge.created_at}

%h2 Description
%p.well#description= @challenge.description

- unless @challenge.attachments.empty?
  %h2 Attachment Files
  %ul
    - @challenge.attachments.each do |attach|
      %li
        %a{href: "/challenge/attachment/#{attach.id}"}
          = CGI.unescape(attach.name)
        == (SHA1: #{attach[:hash]})

%section
  %h2 Submit Form
  %form.form-horizontal{action: "*", method: 'POST'}
    .control-group
      %label.control-label{for: 'flag_input'} FLAG
      .controls
        %input#flag_input{type: 'text', name: 'flag', required: true}
    .form-actions
      %button.btn.submit Submit
  %p#result
    %p#current_status.alert.alert-info

%section
  %h2 Solved Player
  - solved_trials = Trial.filter(is_accepted: true).filter(challenge: @challenge).order(Sequel.desc(:submitted_at))
  %table.table#solved_players
    %thead
      %tr
        %th Name
        %th Team
        %th Submitted at
    %tbody
      - if solved_trials.empty?
        %tr#no_solved_player
          %td{colspan: 3} No one solved this problem yet...
      - else
        - solved_trials.each do |trial|
          %tr
            %td= trial.player.name
            %td= trial.player.team.name
            %td= trial.submitted_at
