- unless @player
  %p
    You have to log in to submit flags.
    %a{href: '/login'} => Login
%table.table.table-striped
  %thead
    %tr
      - if @player
        %th Accepted
      %th ID
      %th Name
      %th Genre
      %th Point
  %tbody
    - @challenges.each do |challenge|
      %tr
        - if @player
          %td
            - if @player.already_answered?(challenge)
              %i.icon-ok
        %td= challenge.id
        %td
          %a{href:"/challenge/#{challenge.id}"}= challenge.name
        %td= challenge.genre
        %td= challenge.point
