%script{src: rocketio_js}
:javascript
  var io = new RocketIO().connect();
  io.on('new_announcement', function(announce_str) {
    var announce = JSON.parse(announce_str);
    var $announcements = $('.announce');
    var num_of_announce = $announcements.length;
    if (num_of_announce >= 3) {
      $announcements.last().fadeOut();
      $announcements.last().remove();
    }
    var elem = $('<section/>').addClass('span4 well announce')
                              .data('announce-id', announce['id'])
                              .append($('<h3/>').text(announce['title']))
                              .append($('<p/>').append($('<small/>').text(announce['created_at'])))
                              .append($('<p/>').text(announce['leading']))
                              .append($('<p/>').addClass('pull-right')
                                               .append($('<a/>').attr('href', announce['ind_link'])
                                                                .text('more...')))
    elem.hide();
    $('#announcements').prepend(elem);
    elem.fadeIn();
  });
  io.on('update_announcement', function(announce_str) {
    var announce = JSON.parse(announce_str);
    var $elem = $('.announce[data-announce-id="' + announce['id'] + '"]');
    if ($elem) {
      $elem.children('.announce-title').text(announce['title']);
      $elem.children('.announce-date').text(announce['created_at']);
      $elem.children('.announce-content').text(announce['leading']);
    }
  });
  io.on('delete_announcement', function(announce_str) {
    var announce = JSON.parse(announce_str);
    var $elem = $('.announce[data-announce-id="' + announce['id'] + '"]');
    if ($elem) {
      $('#announcements').fadeOut();
      $('#announcements').empty();
      $.get('/announce/latest', {'num': '3'}, function(announcements) {
        $.each(announcements, function(index, announce) {
          var elem = $('<section/>')
            .addClass('span4 well announce')
            .attr('data-announce-id', announce['id'])
            .append($('<h3/>').text(announce['title']))
            .append($('<p/>').append($('<small/>').text(announce['created_at'])))
            .append($('<p/>').text(announce['leading']))
            .append($('<p/>').addClass('pull-right')
              .append($('<a/>').attr('href', announce['ind_link'])
                .text('more...')));
          $('#announcements').append(elem);
        });
      });
      $('#announcements').fadeIn();
    }
  });

- if File.exists?('./disable_submit')
  .row-fluid
    %p.alert.alert-error
      %span.label.label-important Caution
      All players cannot submit any flags now.
- if @player && @player.is_suspended || (@player && @player.team.is_suspended)
  .row-fluid
    %p.alert.alert
      %span.label.label-warning Warning
      Your account or your team's account is suspended now.
.row-fluid
  %section
    %h2 Announcements
    .row-fluid#announcements
      - Announcement.order(Sequel.desc(:created_at)).take(3).each do |announce|
        %section.span4.well.announce{:'data-announce-id' => announce.id}
          %h3.announce-title= announce.title
          %p
            %small.announce-date= announce.created_at
          %p.announce-content= announce.leading
          %p.pull-right
            %a{href: "/announce/#{announce.id}"} more...
    .row-fluid
      %p
        %a{href: '/announce/list'} older announcements &raquo;

.row-fluid
  %section.span6
    %h2 Challenges
    - unless @player
      %p
        You have to log in to submit flags.
        %a{href: '/login'} => Login
    %table.table.table-striped
      %thead
        %tr
          - if @player
            %th Accepted
          %th ID
          %th Name
          %th Genre
          %th Point
      %tbody
        - @challenges.each do |challenge|
          %tr
            - if @player
              %td
                - player_answered = @player.already_answered?(challenge)
                - team_answered = @player.team.find_answered_member(challenge)
                  - if player_answered
                    %i.icon-ok
                  - else if team_answered
                    %i.icon-ok-circle{title: "#{team_answered.name} answered."}
            %td= challenge.id
            %td
              %a{href:"/challenge/#{challenge.id}"}= challenge.name
            %td= challenge.genre
            %td= challenge.point

  %section.span6
    %section
      %h2
        Current Top 3
        %small Individual Ranking
      %table.table
        %thead
          %tr
            %th #
            %th Name
            %th Score
        %tbody
          - i = 0
          - Player.all.select{|p| p.last_accept}.sort_by{|p| p.last_accept.submitted_at}.reverse.sort_by{|p| [p.score, i += 1]}.reverse.take(3).each_with_index do |player, rank|
            %tr{class: (@player && @playe == player) ? 'info' : ''}
              %td= rank + 1
              %td= player.name
              %td= player.score

    %section.clearfix
      %h2
        Current Top 3
        %small Team Ranking
      %table.table
        %thead
          %tr
            %th #
            %th Name
            %th Score
        %tbody
          - i = 0
          - Team.all.select{|team| team.last_accept}.sort_by{|team| team.last_accept.submitted_at}.reverse.sort_by{|team| [team.score, i += 1]}.reverse.take(3).each_with_index do |team, rank|
            %tr{class: (@player && @player.team == team) ? 'info' : ''}
              %td= rank + 1
              %td= team.name
              %td= team.score
    %p.pull-right
      %a{href: '/ranking'} more...
