!!! 5
%html
  %head
    - if @page_title && !@page_title.empty?
      %title== #{@page_title} - #{settings.site_name}
    - else
      %title= settings.site_name
    %script{src: '/js/jquery.js'}
    %script{src: '/js/bootstrap.js'}
    %script{src: '/js/bootbox.min.js'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: settings.site_name}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/bootstrap.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/bootstrap-responsive.css'}
  %body
    - is_disable_submit = File.exists?('./disable_submit')
    :javascript
      $(document).ready(function() {
        $('#suspend_caution').click(function() {
          bootbox.alert('Your account is suspended now, so you cannot submit flags. Please be patient until your account is resumed.');
        });
        $('#disable_submit_caution').click(function() {
          bootbox.alert('All players cannot submit any flags now.');
        });
      });
    .navbar
      .navbar-inner
        .container
          %button.btn.btn-navbar{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: '/'}= settings.site_name
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{href: '/rules'} Rules
              %li.dropdown
                %a.dropdown-toggle{href: '#', :'data-toggle' => 'dropdown'}
                  Challenges
                  %b.caret
                %ul.dropdown-menu
                  - @challenges.each do |challenge|
                    %li
                      %a{href: "/challenge/#{challenge.id}"}== #{challenge.name} (#{challenge.genre} #{challenge.point})
              %li
                %a{href: '/ranking'} Ranking
          .nav-collapse.collapse.pull-right
            %ul.nav
              - if is_admin_authenticated?
                %li
                  %a{href: '/admin'} Admin
              - if is_disable_submit
                %li
                  %a#disable_submit_caution{href: '#'}
                    %i.icon-off
              - if @player
                - if @player.is_suspended || @player.team.is_suspended
                  %li
                    %a#suspend_caution{href: '#'}
                      %i.icon-exclamation-sign
                %li
                  %a== Hi, #{@player.name}
                %li
                  %a== #{@player.score} pt.
                %li
                  %a== (Team: #{@player.team.score} pt.)
                %li
                  %a{href: '/logout'} Logout
              - else
                %li
                  %a{href: '/login'} Login
    .container-fluid
      .row-fluid
        .offset2.span8
          .page-header
            %h1
              = @page_title
              %small= @page_subtitle
      .row-fluid
        .offset2.span8
          != yield
