%p
  You don't have an account?
  %a{href: '/register'} Register!

%form.form-horizontal{action: '/login', method: 'POST'}
  .control-group
    %label.control-label{for: 'name'} User Name
    .controls
      %input#name{type: 'text', name: 'name'}
  .control-group
    %label.control-label{for: 'password'} Password
    .controls
      %input#password{type: 'password', name: 'password'}
  .form-actions
    %button.btn.btn-primary{type: 'submit'} Login
    %button.btn{type: 'reset'} Clear
