%p The players or teams who have the same points are ordered by their last accepted datetime in ascending order.
.row-fluid
  .span5
    %section
      %h2 Individual
      %table.table
        %thead
          %tr
            %th #
            %th Name
            %th Team
            %th Point
        %tbody
          - i = 0
          - Player.all.select{|p| p.last_accept}.sort_by{|p| p.last_accept.submitted_at}.reverse.sort_by{|p| [p.score, i += 1]}.reverse.each_with_index do |player, rank|
            %tr{class: (@player && @player == player) ? 'info' : ''}
              %td= rank + 1
              %td= player.name
              %td= player.team.name
              %td= player.score

  .offset2.span5
    %section
      %h2 Team
      %table.table
        %thead
          %tr
            %th #
            %th Name
            %th Point
        %tbody
          - i = 0
          - Team.all.select{|team| team.last_accept}.sort_by{|team| team.last_accept.submitted_at}.reverse.sort_by{|team| [team.score, i += 1]}.reverse.each_with_index do |team, rank|
            %tr{class: (@player && @player.team == team) ? 'info' : ''}
              %td= rank + 1
              %td= team.name
              %td= team.score
