:javascript
  function exists_player(input) {
    $.get('/exists_player', {'name': input.value}, function(data) {
      if (data == 'true') {
        input.setCustomValidity('This user name is already used.');
      } else {
        input.setCustomValidity('');
      }
    });
  }
  function guide_teaminput(input) {
    team_sel = document.getElementById('team_sel');
    for (var i = 0; i < team_sel.length; i++) {
        if (team_sel[i].text == input.value) {
            team_sel.selectedIndex = i;
            input.setCustomValidity('This team is already registered.');
            break;
        }
        input.setCustomValidity('');
    }
    if (input.value == '') {
      team_sel.disabled = false;
    } else {
      team_sel.disabled = true;
    }
  }

%p
  %a{href: '/login'} Return to login page

.row-fluid
  .span8
    %form.form-horizontal{action: '/register', method: 'POST'}
      .control-group
        %label.control-label{for: 'name'} Name
        .controls
          %input#name{type: 'text', name: 'name', required: true, oninput: 'exists_player(this)', pattern: '^[0-9A-Za-z_]+$'}
          .help-inline You can use these letters: [0-9A-Za-z_]
      .control-group
        %label.control-label{for: 'password'} Password
        .controls
          %input#password{type: 'password', name: 'password', required: true}
      .control-group
        %label.control-label{for: 'team'} Team
        .controls
          %select#team_sel{name: 'team'}
            - Team.each do |team|
              %option{value: team.id}= team.name
      .control-group
        %label.control-label{for: 'newteam'} New Team
        .controls
          %input#team_new{type: 'text', name: 'newteam', oninput: 'guide_teaminput(this)'}
          .help-block
            If your team doen't exist in the choices, please enter here.
            .text-warning This is prior to the selection above.
            Acceptable Characters: [\/\]\[a-zA-Z0-9_-]
      .form-actions
        %button.btn{type: 'submit'} Register
        %button.btn{type: 'reset'} Clear

  .span4
    %p.alert.alert-block
      Before submitting, check that you choose your team correctly! You CANNOT change the team after registering.
