%p== Registration completed. Welcome #{@new_player.name}! Please check the information below. (If the information is wrong, please contact the admin.)
%dl.dl-horizontal
  %dt Name
  %dd= @new_player.name
  %dt Team
  %dd= @new_player.team.name
%p
  %a{href: '/login'} Go to login page
